@use "../../breakpoints.scss" as *;
.search {
  width: 100%;
  &__form {
    max-width: 650px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    color: #fff;
    &--icon {
      position: absolute;
      top: 25%;
      left: 1rem;
      font-size: 2rem;
      @include sm {
        font-size: 1.5rem;
      }
    }
    &--input {
      color: #fff;
      width: 100%;
      background: linear-gradient(35deg, #494949, #313131);
      border: none;
      outline: none;
      font-size: 1.5rem;
      border-radius: 20px;
      padding: 1.2rem 2rem 1.2rem 4rem;
      @include sm {
        font-size: 1rem;
        padding: 0.8rem 2rem 0.8rem 4rem;
      }
    }
  }
}
